.card-container {
    width: 70%;
    height: 600px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


    border: 1px solid #ddd;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    gap: 120px;
}

.contact-info{
    width: 20%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.contact-info li {
    width: 200px;
    
}

.avatar-img {
    width: 120px;
    height: 120px;

    border-radius: 100%;
}

.contact-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: #ddd;
}


.contacts {

    padding :8px;
    color: #ddd;


    
}

.contact-info li {

    padding :5px;
    
    background: rgb(28, 30, 32);
}

.avatar,
.contact-info {

    padding: 8px;
    margin: 0 auto;
    list-style-type: none;


}

.contact-info .contacts{
    text-decoration: none;
}


/* Animation begins  */

.contact-info li:hover{
    font-size: 22px;
    background-color: #EEE;
    color: #012;
}

.contact-info li:hover .contacts {
    color: #012;
}
