.service-main-container{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;

    gap: 40px;

    background-color:#DDDDDD;
}

.service-main-container button {
    padding: 30px;
    width: 100%;

    font-size: larger;
}


.service-main-container .div-button{
    width: 50%;
    
}


.div-button button{
    background: #1F2937;
    color: #EEE;

    border-radius: 8px;
}

.div-button button:hover{
    background: #a8a8a8;
    color: #070505;

    font-size: 25px;
}